body{
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0 auto;
}

@font-face {
  font-family: 'olios';
  src: url('../fonts/olios.eot?12908302');
  src: url('../fonts/olios.eot?12908302#iefix') format('embedded-opentype'),
       url('../fonts/olios.woff2?12908302') format('woff2'),
       url('../fonts/olios.woff?12908302') format('woff'),
       url('../fonts/olios.ttf?12908302') format('truetype'),
       url('../fonts/olios.svg?12908302#olios') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "olios";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-home:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-in:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-add:before { content: '\e80a'; } /* '' */
.icon-remove:before { content: '\e80b'; } /* '' */
.icon-pin:before { content: '\e80c'; } /* '' */
.icon-livingroom:before { content: '\e815'; } /* '' */
.icon-office:before { content: '\e816'; } /* '' */
.icon-crib:before { content: '\e817'; } /* '' */
.icon-oven:before { content: '\e818'; } /* '' */
.icon-accesories:before { content: '\e819'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */

/*.container{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
    padding: 0;
}*/

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}



/*----------------MAIN SCREEN----------------*/
.main-screen{
	
}

.main-screen-bg img{
	max-height: 100vh;
	/*max-width: 100vw;*/
	width: 100%;
	/*height: 100%;*/
}

.content{
	position: relative;
}

.main-header-bg{
	position: absolute;
	content: '';
	font-size: 230px;
	color: #e7e7e7;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	line-height: 200px;
}

.main-slider-content{
	position: absolute;
	content: '';
	text-align: center;
	margin-top: 40px;
	width: 730px;
	height: 380px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.main-slider-content-header{
	margin: 0;
	text-transform: uppercase;
	font-size: 120px;
	font-weight: 200;
	line-height: 120px;
}

.main-slider-content-paragraph{
	margin: 0;
	padding: 10px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}

.main-slider-content-link{
	display: inline-block;
	margin-top: 10px;
	color: #fff;
	background-color: #0023ff;
	text-decoration: none;
	font-size: 14px;
	line-height: 14px;
	border-radius: 20px;
	text-transform: uppercase;
	padding: 8px 15px;
	transition: .2s ease-in;
	border: 1px solid #0023ff;
}

.main-slider-content-link:hover{
	color: #0023ff;
	background-color: transparent;
}